### **i**. Crear la serie A serie con:
### - Índices: letras del abecedario ordenadas (investigar función que genere la lista)
### - Valores: números enteros comenzando en 10, odenados de forma creciente y paso de 1

### **ii**. Crear la serie B serie con:
### - Índices: números enteros comenzando en 10, odenados de forma creciente y paso de 1
### - Valores: letras del abecedario con orden inverso (z, y, x, w ...)

### **iii**. Seleccionar de cada una de las series los elementos con índice o valor entre d:i

In [7]:
import string
import pandas as pd

# SERIE A

#índices
abcd_string = string.ascii_uppercase
abcd_list = list(abcd_string)

#valores
numeros = range(10,36,1)

A = pd.Series(data = numeros, index = abcd_list)
A

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

A    10
B    11
C    12
D    13
E    14
F    15
G    16
H    17
I    18
J    19
K    20
L    21
M    22
N    23
O    24
P    25
Q    26
R    27
S    28
T    29
U    30
V    31
W    32
X    33
Y    34
Z    35
dtype: int64

In [9]:
# SERIE B

#índices, es la lista de números de la sección pasada

#valores
abcd_inv = string.ascii_uppercase[::-1]
abcd_invlist = list(abcd_inv)

#B
B = pd.Series(data = abcd_invlist, index = numeros)
B

10    Z
11    Y
12    X
13    W
14    V
15    U
16    T
17    S
18    R
19    Q
20    P
21    O
22    N
23    M
24    L
25    K
26    J
27    I
28    H
29    G
30    F
31    E
32    D
33    C
34    B
35    A
dtype: object

In [12]:
A['d':'1']

Series([], dtype: int64)

In [15]:
B[B.isin(['d','e','f','g','h','i'])]

Series([], dtype: object)